{{if eq .chezmoi.os "darwin" -}}
#!/bin/bash
echo "This script must be watched"
read -e -p "Press y to continue. Anything else will quit this script. THIS SCRIPT WILL NOT RUN AGAIN IF YOU CHOOSE NO. " choice
[[ "$choice" == [Yy]* ]] && echo "Continuing..." || exit 0
# Install homebrew
/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
# Install rustup
curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh
source ~/.profile
{{  if eq .chezmoi.arch "arm64" -}}
# This will only work on arm macs, but I doubt I'll really use anything else
(echo; echo 'eval "$(/opt/homebrew/bin/brew shellenv)"') >> "$HOME/.zprofile"
eval "$(/opt/homebrew/bin/brew shellenv)"
{{  end }}
# Install basic programs
brew tap homebrew/cask-fonts
brew tap homebrew/cask-version
brew tap jesseduffield/lazygit
brew tap gcenx/wine
brew install zoxide fzf eza sk ripgrep fd mpv chafa yt-dlp neovim starship git cmake node pyenv fastfetch zsh-completions winetricks chezmoi jesseduffield/lazygit/lazygit
brew install --cask wezterm firefox amethyst textmate vlc mac-mouse-fix font-fira-code font-fira-code-nerd-font font-mononoki font-mononoki-nerd-font qbittorrent raycast stats dozer gcenx/wine/wine-crossover
cargo install --git https://github.com/SyedFasiuddin/theme-toggle-nvim
chmod go-w "$HOMEBREW_PREFIX/share"
chmod -R go-w "$HOMEBREW_PREFIX/share/zsh"
# Install LunarVim
LV_BRANCH='release-1.3/neovim-0.9' bash <(curl -s https://raw.githubusercontent.com/LunarVim/LunarVim/release-1.3/neovim-0.9/utils/installer/install.sh)
# And we're done?
echo "Almost done! Please wait for chezmoi to finish. Restart the terminal (or use WezTerm) to apply the configuration. :)"
{{else if eq .chezmoi.os "linux" -}}
{{  if eq .chezmoi.osRelease.id "opensuse-tumbleweed" -}}
#!/bin/sh
echo "This script must be watched"
read -e -p "Press y to continue. Anything else will quit this script. THIS SCRIPT WILL NOT RUN AGAIN IF YOU CHOOSE NO. " choice
[[ "$choice" == [Yy]* ]] && echo "Continuing..." || exit 0
# Install rustup
curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh
source ~/.profile
# Install programs
sudo zypper in zsh # So we get prompted for zsh-completions
sudo zypper in zoxide fzf eza ripgrep fd mpv chafa yt-dlp neovim starship git cmake make nodejs-default pyenv fastfetch wine lazygit wezterm MozillaFirefox kate fira-code-fonts vlc qbittorrent
cargo install skim fd-find
# And that should be it!
echo "Almost done! Please wait for chezmoi to finish. Restart the terminal (or use WezTerm) to apply the configuration. :)"
{{  else -}}
#!/bin/sh
echo "This OS is not currently supported"
{{  end }}
{{ end }}
