{{if eq .chezmoi.os "darwin" -}}
#!/bin/sh
# TODO: put required programs and stuff for config here
echo "TODO: put required programs and stuff for config here"
{{else if eq .chezmoi.os "linux" }}
{{  if eq .chezmoi.osRelease.id "opensuse-tumbleweed" -}}
#!/bin/sh
# TODO: Same thing as above, but for tumbleweed
echo "TODO: put required programs and stuff for config here"
{{  end }}
{{ end }}
