{{if eq .chezmoi.os "darwin" -}}
#!/bin/bash
echo "This script must be watched"
read -e -p "Enter y to continue. Anything else will quit this script. THIS SCRIPT WILL NOT RUN AGAIN IF YOU CHOOSE NO. " choice
[[ "$choice" == [Yy]* ]] && echo "Continuing..." || exit 0
# Install homebrew
/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
# Install rustup
curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh
source ~/.profile
{{  if eq .chezmoi.arch "arm64" -}}
# This will only work on arm macs, but I doubt I'll really use anything else
(echo; echo 'eval "$(/opt/homebrew/bin/brew shellenv)"') >> "$HOME/.zprofile"
eval "$(/opt/homebrew/bin/brew shellenv)"
{{  end }}
# Install basic programs
brew tap gcenx/wine
brew install zoxide fzf eza sk ripgrep fd mpv chafa yt-dlp neovim starship git coreutils cmake node fastfetch zsh-completions winetricks chezmoi tree-sitter tmux lazygit bat bat-extras moar bottom
brew install --cask wezterm floorp amethyst zed iina mac-mouse-fix karabiner-elements font-fira-code font-fira-code-nerd-font qbittorrent raycast stats hiddenbar gcenx/wine/wine-crossover
chmod go-w "$HOMEBREW_PREFIX/share"
chmod -R go-w "$HOMEBREW_PREFIX/share/zsh"
# Install antidote (zsh plugin manager)
git clone --depth=1 https://github.com/mattmc3/antidote.git $HOME/.antidote
# And we're done?
echo "Almost done! Please wait for chezmoi to finish. Restart your terminal (or use WezTerm) to apply the configuration. :)"
{{else if eq .chezmoi.os "linux" -}}
{{  if eq .chezmoi.osRelease.id "opensuse-tumbleweed" -}}
#!/bin/sh
echo "This script must be watched"
read -e -p "Enter y to continue. Anything else will quit this script. THIS SCRIPT WILL NOT RUN AGAIN IF YOU CHOOSE NO. " choice
[[ "$choice" == [Yy]* ]] && echo "Continuing..." || exit 0
# Install rustup
curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh
source ~/.profile
# Install programs
sudo zypper in zsh # So we get prompted for zsh-completions
sudo zypper in zoxide fzf eza ripgrep fd mpv chafa yt-dlp neovim starship git clang gcc cmake make nodejs-default pyenv fastfetch lazygit fira-code-fonts tree-sitter tmux
# Desktop software
read -e -p "Do you want to install desktop software? (y/N) " choice
[[ "$choice" == [Yy]* ]] && sudo zypper in wine wezterm MozillaFirefox kate vlc qbittorrent || echo "Continuing..."
cargo install skim fd-find
# Install antidote (zsh plugin manager)
git clone --depth=1 https://github.com/mattmc3/antidote.git $HOME/.antidote
# And that should be it!
echo "Almost done! Please wait for chezmoi to finish. Restart your terminal (or use WezTerm) to apply the configuration. :)"
{{  else if eq .chezmoi.osRelease.id "fedora-asahi-remix" -}}
#!/bin/sh
echo "This script must be watched. THIS SCRIPT HAS NOT BEEN THOROUGHLY TESTED! USE AT YOUR OWN RISK."
read -e -p "Enter y to continue. Anything else will quit this script. THIS SCRIPT WILL NOT RUN AGAIN IF YOU CHOOSE NO. " choice
[[ "$choice" == [Yy]* ]] && echo "Continuing..." || exit 0
# Install rustup
curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh
source ~/.profile
# Install other programs
sudo dnf install zsh
sudo dnf install zoxide fzf eza ripgrep fd-find mpv chafa yt-dlp neovim git cmake make nodejs fastfetch wine fira-code-fonts vlc qbittorrent libtree-sitter tmux flatpak gcc llvm clang clang-tools-extra
# Cargo
cargo install starship fd-find skim
# Pyenv
curl https://pyenv.run | bash
# Antidote
git clone --depth=1 https://github.com/mattmc3/antidote.git $HOME/.antidote
# Currently don't have for fedora (arm): floorp, wezterm, lazygit
echo "Almost done! Please wait for chezmoi to finish. Restart your terminal (or use WezTerm) to apply the configuration. :)"
{{ else -}}
#!/bin/sh
echo "This OS doesn't currently support automatic installation of programs."
echo "Please wait for chezmoi to finish, and then restart your terminal to apply the configuration. :)"
{{  end }}
{{ end }}
