{{- /* vim: set ft=zsh: */ -}}
##### ANTIDOTE #####
# These should be set before plugins are loaded
# Add ~/.zsh_custom/completions to fpath
export FPATH=$HOME/.zsh_custom/completions:$FPATH
# Initialize homebrew
test -d /usr/local/bin/brew && eval "$(/usr/local/bin/brew shellenv)" # x86 MacOS
test -d /opt/homebrew && eval "$(/opt/homebrew/bin/brew shellenv)" # ARM MacOS
test -d ~/.linuxbrew && eval "$(~/.linuxbrew/bin/brew shellenv)" # Single-user Linux
test -d /home/linuxbrew/.linuxbrew && eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)" # Multi-user Linux
if type brew &>/dev/null; then
  # Completions from homebrew
  FPATH="$(brew --prefix)/share/zsh/site-functions:${FPATH}"
fi
# Set XDG base directories
export XDG_CONFIG_HOME="$HOME/.config"
export XDG_CACHE_HOME="$HOME/.cache"
export XDG_DATA_HOME="$HOME/.local/share"
export XDG_STATE_HOME="$HOME/.local/state"
# HACK: zsh-autocomplete is currently broken, this option fixes it - see https://github.com/marlonrichert/zsh-autocomplete/issues/724
setopt interactivecomments
# Load antidote
source $HOME/.antidote/antidote.zsh
antidote load

##### MANUAL INTEGRATIONS #####

# Initialize zoxide
if command -v zoxide &>/dev/null; then
  eval "$(zoxide init zsh)"
fi

# Initialize pyenv
if command -v pyenv &>/dev/null; then
  export PYENV_ROOT="$HOME/.pyenv"
  export PATH="$PYENV_ROOT/bin:$PATH"
  eval "$(pyenv init -)"
fi

# Initialize frum, ruby version manager
if command -v frum &>/dev/null; then
  eval "$(frum init)"
fi

# Initialize asdf
if command -v asdf &>/dev/null; then
  . $(brew --prefix asdf)/libexec/asdf.sh
fi

# Initialize swiftly
test -f "${HOME}/.swiftly/env.sh" && . "${HOME}/.swiftly/env.sh"

# FZF integration
if command -v fzf &>/dev/null; then
  source <(fzf --zsh)
  # Re-add tab binding for zsh-autocomplete
  bindkey -M emacs '^I' menu-complete
fi

# Enable Keychain (https://www.funtoo.org/Funtoo:Keychain)
if command -v keychain &>/dev/null; then
  eval $(keychain --eval --quiet id_ed25519)
fi

# zsh-autocomplete fuzzy completion
zstyle ':completion:*' completer _expand _complete _complete:-loose _complete:-fuzzy _ignored
# Insert common substring/prefix
zstyle ':autocomplete:*complete*:*' insert-unambiguous yes # all Tab widgets
zstyle ':autocomplete:*history*:*' insert-unambiguous yes # all history widgets
zstyle ':autocomplete:menu-search:*' insert-unambiguous yes # ^S
# Autocomplete common prefix instead of common substring
zstyle ':completion:*:*' matcher-list 'm:{[:lower:]-}={[:upper:]_}' '+r:|[.]=**'

# zmv - ZSH File renamer
autoload -U zmv

# Wezterm shell integration
# For MacOS, it is included in the application bundle
if [ -f /Applications/Wezterm.app/Contents/Resources/wezterm.sh ]; then
  source "/Applications/WezTerm.app/Contents/Resources/wezterm.sh"
  # For others, we can use a copy
else
  source "${HOME}/.config/wezterm/shell-integration.sh"
fi

# iTerm2 shell integration
test -e "${HOME}/.iterm2_shell_integration.zsh" && source "${HOME}/.iterm2_shell_integration.zsh"

##### CUSTOM KEYBINDS #####
# Ensure emacs-like keybinds for editing commands
bindkey -e

# Edit the current command line in $EDITOR
autoload -U edit-command-line
zle -N edit-command-line
bindkey '\C-x\C-e' edit-command-line

##### ALIASES/SHORTCUTS #####
# Aliases for eza
if command -v eza &>/dev/null; then
  alias es="eza --icons=auto"
  alias esa="eza -a --icons=auto"
  alias e="eza -lha --icons=auto"
  alias eg="eza -lha --git --git-repos --icons=auto"
  alias et="eza --icons=auto --tree"
  alias etl="eza -lh --icons=auto --tree"
  alias eta="eza -lha --icons=auto --tree"
fi
# Quicker NeoVim Command
alias nv="nvim"
# Quicker LazyGit command
alias lg="lazygit"
# Quicker Chezmoi commands
alias ch="chezmoi"
alias chap="chezmoi apply"
alias chst="chezmoi status"
alias chd="chezmoi diff"
# Make with more jobs
if command -v nproc &>/dev/null; then
  alias makej="make -j$(nproc --ignore=2)"
  alias makep="make -j$(nproc)"
fi
# Skim with ripgrep
alias skrg="sk --ansi -i -c 'rg --color=always --line-number \"{}\"'"
alias skrgu="sk --ansi -i -c 'rg --color=always --line-number -u \"{}\"'"
alias skrguu="sk --ansi -i -c 'rg --color=always --line-number -uu \"{}\"'"
alias skrguuu="sk --ansi -i -c 'rg --color=always --line-number -uuu \"{}\"'"
# this is fucking stupid
alias itllbeok="mpv https://www.youtube.com/watch\?v\=uH2Ns9Tewpo -vo tct --profile=sw-fast"
# Download YT videos/audio
alias yt-vid="yt-dlp -f 'bestvideo[ext=mp4]+bestaudio[ext=m4a]/best[ext=mp4]/best'" # Best quality video available
alias yt-aud="yt-dlp -x -f 'bestaudio[ext=m4a]' --embed-thumbnail" # Downloads audio only, in m4a, and embeds the video thumbnail as cover art
alias yt-1080="yt-dlp -f 'bestvideo[height<=1080][ext=mp4]+bestaudio/best[height<=1080][ext=m4a]'"
# Alias to recursively remove .DS_Store files
alias rmdsstore="find . -name '.DS_Store' -delete"
# Yazi wrapper from https://yazi-rs.github.io/docs/quick-start/
function y() {
  local tmp="$(mktemp -t "yazi-cwd.XXXXX")"
  yazi "$@" --cwd-file="$tmp"
  if cwd="$(cat -- "$tmp")" && [ -n "$cwd" ] && [ "$cwd" != "$PWD" ]; then
    cd -- "$cwd"
  fi
  rm -f -- "$tmp"
}


##### OS-SPECIFIC CONFIGURATION #####
{{ if eq .chezmoi.os "darwin" -}}
# MACOS
{{  if eq .chezmoi.arch "arm64" -}}
# ARM ONLY
# Switch between ARM brew and x86 brew
alias armbrew='eval "$(/opt/homebrew/bin/brew shellenv)"'
alias x86brew='eval "$(/usr/local/homebrew/bin/brew shellenv)"'
# ARM END
{{  end }}

# Set JAVA_HOME
export JAVA_HOME="$(brew --prefix openjdk)/libexec/openjdk.jdk/Contents/Home/"

# Mackup location
export MACKUP_LOCATION="$HOME/Library/Mobile Documents/com~apple~CloudDocs/Mackup"
# MACOS END
{{ end }}

##### EXPORT #####
# Set default editor to nvim instead of vim
export EDITOR=nvim
export SYSTEMD_EDITOR=nvim

# Set HELPDIR for ZSH
export HELPDIR=/usr/share/zsh/$ZSH_VERSION/help/

# Set man pager to neovim
export MANPAGER="nvim +Man!"

# Add ~/.local/bin to PATH
export PATH=$HOME/.local/bin:$PATH

# Add Doom Emacs to path
export PATH=$HOME/.config/emacs/bin:$PATH

# Go stuff
export GOPATH="$HOME/.go"
export PATH="$GOPATH/bin:$PATH"

# Cmake export compile commands by default
export CMAKE_EXPORT_COMPILE_COMMANDS=1

##### pretty :) #####
# Setup starship
if command -v starship &>/dev/null; then
  eval "$(starship init zsh)"
fi

# Pretty screen when opening terminal
fastfetch
