# Setup zsh-completions
if type brew &>/dev/null; then
  FPATH=$(brew --prefix)/share/zsh-completions:$FPATH
fi

# If you come from bash you might have to change your $PATH.
# export PATH=$HOME/bin:/usr/local/bin:$PATH

# Path to your oh-my-zsh installation.
export ZSH="${HOME}/.oh-my-zsh"

# Which plugins would you like to load?
# Add wisely, as too many plugins slow down shell startup.
plugins=(zsh-autocomplete zsh-autosuggestions zsh-syntax-highlighting aliases git rust zoxide python pyenv macos sudo fzf)

source $ZSH/oh-my-zsh.sh

test -e "${HOME}/.iterm2_shell_integration.zsh" && source "${HOME}/.iterm2_shell_integration.zsh"

# Wezterm shell integration
source "/Applications/WezTerm.app/Contents/Resources/wezterm.sh"

# ----- ALIASES -----
# Aliases for eza
alias ls="eza --icons"
alias lsa="eza -a --icons"
alias e="eza -lha --icons"
# Quicker LazyGit command
alias lg="lazygit"
# Skim (sk) with ripgrep
alias skrg="sk --ansi -i -c 'rg --color=always --line-number \"{}\"'"
alias skrgu="sk --ansi -i -c 'rg --color=always --line-number -u \"{}\"'"
alias skrguu="sk --ansi -i -c 'rg --color=always --line-number -uu \"{}\"'"
alias skrguuu="sk --ansi -i -c 'rg --color=always --line-number -uuu \"{}\"'"
# Alias to get to Neorg notes faster
alias neorg="lvim +'Neorg workspace notes'"
# Command to use newer version of java
alias brewjava="/opt/homebrew/opt/java/bin/java"
alias brewjavac="/opt/homebrew/opt/java/bin/javac"
# Switch between ARM brew and x86 brew
alias armbrew='eval "$(/opt/homebrew/bin/brew shellenv)"'
alias x86brew='eval "$(/usr/local/homebrew/bin/brew shellenv)"'
# this is fucking stupid
alias itllbeok="mpv https://www.youtube.com/watch\?v\=uH2Ns9Tewpo -vo tct --profile=sw-fast"
alias kikuri="chafa ~/.config/kikuri.gif --size \$COLUMNSx\$LINES"
alias hiroi="kikuri --speed 5"
# Download YT videos/audio
alias yt-vid="yt-dlp -f 'bestvideo[ext=mp4]+bestaudio[ext=m4a]/best[ext=mp4]/best'" # Best quality video available
alias yt-aud="yt-dlp -x -f 'bestaudio[ext=m4a]' --embed-thumbnail" # Downloads audio only, in m4a, and embeds the video thumbnail as cover art
alias yt-1080="yt-dlp -f 'bestvideo[height<=1080][ext=mp4]+bestaudio/best[height<=1080][ext=m4a]'"

# Set JAVA_HOME
export JAVA_HOME=/opt/homebrew/Cellar/openjdk/20.0.1/libexec/openjdk.jdk/Contents/Home

# Add a easier way to access my mackup backups on Mac
export MACKUP_LOCATION="$HOME/Library/Mobile Documents/com~apple~CloudDocs/Mackup"

# Set default editor to lvim instead of vim
export EDITOR=lvim

# Set XDG_CONFIG_HOME
export XDG_CONFIG_HOME="$HOME/.config"

# Add ~/.local/bin to PATH
export PATH=$HOME/.local/bin:$PATH

# Setup for starship - like spaceship, but more involved
eval "$(starship init zsh)"

# Pretty screen when opening terminal 
fastfetch

