# Uses (slightly) more ram, about 50MB per 1000 pages
super_fast_search 1

# Launch a new window when opening a new file
should_launch_new_window 1

# Page separator settings
page_separator_width 3
page_separator_color 0.5 0.5 0.5

# Appearance settings
background_color 0.9 0.9 0.9

# Dark mode settings
dark_mode_background_color 0.1 0.1 0.1
dark_mode_contrast 0.9 0.9 0.9

# Search settings
case_sensitive_search 0

# Table of contents
create_table_of_contents_if_not_exists 1
max_created_toc_size 5000
