# A TOML linter such as https://taplo.tamasfe.dev/ can use this schema to validate your config.
# If you encounter any issues, please make an issue at https://github.com/yazi-rs/schemas.
"$schema" = "https://yazi-rs.github.io/schemas/keymap.json"

[mgr]
prepend_keymap = [
  # Scroll preview
  { on = [
    "K",
  ], run = "seek -5", desc = "Seek up 5 units in the preview" },
  { on = [
    "J",
  ], run = "seek 5", desc = "Seek down 5 units in the preview" },
  # Goto
  { on = [
    "g",
    "c",
  ], run = "cd ~/.local/share/chezmoi/", desc = "Go to chezmoi directory" },
  { on = [
    "g",
    "C",
  ], run = "cd ~/.config/", desc = "Go to config directory" },
  { on = [
    "g",
    "D",
  ], run = "cd ~/Documents/", desc = "Go to documents directory" },
  { on = [
    "g",
    "m",
  ], run = "cd ~/Music/", desc = "Go to music directory" },
  { on = [
    "g",
    "M",
  ], run = "cd ~/Movies/", desc = "Go to movies directory" },
  { on = [
    "g",
    "n",
  ], run = "cd ~/Documents/Markdown/", desc = "Go to notes directory" },
  { on = [
    "g",
    "p",
  ], run = "cd ~/Developer/", desc = "Go to developer directory" },
]
